## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [10]:
import os
import numpy as np
import pandas as pd

In [11]:
# 設定 data_path
dir_data = 'G:\learning\ML 100 days\course01\Part01\Part01'

In [12]:
f_app = os.path.join(dir_data, 'bureau.csv')
print('Path of read in data: %s' % (f_app))
bureau = pd.read_csv(f_app)

Path of read in data: G:\learning\ML 100 days\course01\Part01\Part01\bureau.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [14]:
bureau.shape

(1716428, 17)

#### 列出所有欄位

In [15]:
bureau.columns.tolist()

['SK_ID_CURR',
 'SK_ID_BUREAU',
 'CREDIT_ACTIVE',
 'CREDIT_CURRENCY',
 'DAYS_CREDIT',
 'CREDIT_DAY_OVERDUE',
 'DAYS_CREDIT_ENDDATE',
 'DAYS_ENDDATE_FACT',
 'AMT_CREDIT_MAX_OVERDUE',
 'CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_SUM_LIMIT',
 'AMT_CREDIT_SUM_OVERDUE',
 'CREDIT_TYPE',
 'DAYS_CREDIT_UPDATE',
 'AMT_ANNUITY']

#### 截取部分資料

In [17]:
bureau.iloc[2:10, 2:10]

,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG
2,Active,currency 1,-203,0,528.0,NaN,NaN,0
3,Active,currency 1,-203,0,NaN,NaN,NaN,0
4,Active,currency 1,-629,0,1197.0,NaN,77674.5,0
5,Active,currency 1,-273,0,27460.0,NaN,0.0,0
6,Active,currency 1,-43,0,79.0,NaN,0.0,0
7,Closed,currency 1,-1896,0,-1684.0,-1710.0,14985.0,0
8,Closed,currency 1,-1146,0,-811.0,-840.0,0.0,0
9,Active,currency 1,-1146,0,-484.0,NaN,0.0,0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子